@media screen and (min-width: 320px) {
  .footer {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    place-items: center;

    background: #333333;
    border-radius: 0px;
    padding: 20px 0;
    @media screen and (min-width: 320px) {
      max-width: 320px;
    }
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

    @media screen and (min-width: 1360px) {
      max-width: 1360px;
    }
  }

  .footer__btn {
    display: inline-block;
    width: 60px;
    height: 60px;

    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease-out;
    overflow: hidden;
    background-color: #333333;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .footer__icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 500ms ease-out;
  }

  .footer__link {
    font-size: 25px;
    line-height: 60px;
  }

  .footer__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
  }

  .footer__btn:hover {
    width: 200px;
    @media screen and (max-width: 767px) {
      width: 60px;
    }
  }

  .footer__btn:nth-child(1):hover .footer__icon {
    background: #4267b2;
  }

  .footer__btn:nth-child(2):hover .footer__icon {
    background: #1da1f2;
  }

  .footer__btn:nth-child(3):hover .footer__icon {
    background-image: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    outline-color: #ab2d76;
  }

  .footer__btn:nth-child(4):hover .footer__icon {
    background: #03921b;
  }

  .footer__btn:hover .footer__link {
    color: #fff;
  }

  .footer__btn:nth-child(1):hover .footer__text {
    color: #4267b2;
  }

  .footer__btn:nth-child(2):hover .footer__text {
    color: #1da1f2;
  }

  .footer__btn:nth-child(3):hover .footer__text {
    color: #e1306c;
  }

  .footer__btn:nth-child(4):hover .footer__text {
    color: #03921b;
  }
}
