@media screen and (min-width: 320px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 768px;
    height: 70px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
  }
  .header__icon {
    margin-right: 10px;
  }

  .header__logo {
    display: flex;
    align-items: center;
    @include font(32px, 400, 42px);
    margin-right: auto;
    color: #28a745;
    padding-top: 21px;
  }

  .header__Ledger {
    color: #ffffff;
  }

  .header__list {
    display: flex;
    gap: 13px;

    @include font(16px, 400, 26px);
    padding-top: 21px;
    padding-bottom: 20px;
  }
  .header__box {
    padding-top: 71px;
    padding-bottom: 95px;
  }

  .header__title {
    @include font(52px, 300, 66px);
    text-align: center;
    color: #e9e9e9;
  }

  .header__text {
    @include font(22px, 400, 37px);
    text-align: center;

    margin-top: 16px;
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 768px;
  }

  .header__logo {
    @include font(35px, 400, 42px);
    padding: 11px 0;
  }

  .header__list {
    gap: 18px;

    @include font(18px, 400, 28px);
    padding-top: 21px;
    padding-bottom: 20px;
  }

  .header__box {
    padding-top: 340px;
    padding-bottom: 405px;
  }

  .header__title {
    @include font(55px, 300, 66px);
  }

  .header__text {
    margin-top: 25px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    max-width: 1200px;
  }
  .header__list {
    gap: 38px;
  }
  .header__box {
    padding-top: 210px;
    padding-bottom: 280px;
  }
}
