@media screen and (min-width: 320px) {
  .work {
    padding: 50px 28px;
    background-color: #fff;
  }

  .work__box {
    text-align: center;
  }
  .work__list {
    display: block;

    row-gap: 7px;

    height: 100%;
    width: 100%;
    max-width: 264px;
  }
  @media screen and (max-width: 767px) {
    .work__item:not(:last-child) {
      margin-bottom: 7px;
    }
  }
  .work__subtitle {
    margin-bottom: 15px;
    color: #333333;
  }
  .work__title {
    margin-bottom: 35px;
    color: #333333;
  }
  .work__text {
    margin-bottom: 38px;
    color: #333333;
  }
}
@media screen and (min-width: 768px) {
  .work__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 7px;
    column-gap: 8px;

    max-width: 768px;
    max-height: 237px;
  }
  .work__item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1360px) {
  .work__list {
    max-height: 647px;
    max-width: 1360px;
  }
}
