.work {
  padding: 48px 28px;
}
.work__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 8px;
  height: 100%;
  max-height: 647px;
  width: 100%;
  max-width: 1360px;
}

.work__subtitle {
  margin-bottom: 15px;
  color: #333333;
}
.work__title {
  margin-bottom: 34px;
  color: #333333;
}
.work__text {
  margin-bottom: 39px;
  color: #333333;
}
