.button {
  width: 165px;
  height: 48px;
  left: 597px;
  top: 436px;

  border-radius: 5px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include font(18px, 400, 28px);

  margin: 0 auto;

  color: #ffffff;
  background: #28a745;
  border: none;
}
.btn__icon {
  margin-right: 6px;
}
